*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --main-color: #000;
    --light: #f8f9fa;
    --white: #FFF;
}


/* verde #06D6A2 - preto #4C4859*/


/* colocar um título " ACHE NO TEXTO " bem grande com a palavra ACHE selecionada com o fundo escuro ou colorido e a cor da fonte clara(contrário do restante to texto)*/

html,
body {
    box-sizing: border-box;
    height: 100vw;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
}


/* -- HEADER -- */

.header {
    background-color: var(--white);
    display: flex;
}

.header-logo {}

.title {
    /* font-family: 'Anton', 'Oswald', sans-serif; */
    color: #3a2637;
    /* font-size: 16vw;
    width: 95vw;
    max-width: 1300px;
    margin: 0px auto 0px auto;
    text-align: center; */
}

.header-description {}


/* .title span {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (min-width: 600px) {
    .title {
        font-size: 6rem;
    }
} */

.menu-line {}

.tool-bar {}

.resultBox {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
}

.numberOfMatches {}

.editorInfo {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
}

.editorInfoSpan {
    padding: 3px;
}

.app-box {
    width: 95vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    border: none;
    padding: 10px 10px;
}


/* .top-buttons {} */


/* .bottom-buttons {} */

.copyBtnAndEditor {
    position: relative;
}

.copyBtn {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 1px;
    padding: 2px 5px 0px 5px;
}

.copyBtn img {
    width: 1.4rem;
}

.editor {
    display: inline-block;
    width: 100%;
    min-height: 16rem;
    padding: 1.2rem 2rem 1.2rem 1.4rem;
    border-radius: 2px;
    resize: none;
    outline: none;
    background-color: white;
    border: 1px solid #CCC;
}

.regexSelection {
    display: inline;
    background-color: #06D6A2;
    color: #4C4859;
}

.editor[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}

.footer {
    width: 100%;
    max-width: 1300px;
    height: 100px;
    background-color: #4C4859;
    display: flex;
}